html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  text-align: center;
  background-color: black;
  opacity: 0.9;
}

body {
  margin: 0px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

div {
  display: block;
}

a {
  all: inherit;
  text-decoration: underline;
}

h2, h4 {
  display: block;
  background-color: black;
  padding: 10px;
  margin: 0px;
}

header {
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  background-color: black;
}

header img {
  height: 50px;
  padding: 0px 10px;
  margin: 0px;
  flex-shrink: 0;
}

header div {
  min-width: 100px;
}

header span {
  padding: 5px;
}

footer {
  width: 100%;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
  margin: auto 15px;
}

.card img {
  width: 300px;
  height: 200px;
}


.locard {
  width: 300px;
  margin: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.locard h3, .locard span {
  width: 300px;
  padding: 20px 0px;
  margin: 0px;
  display: block;
  background-color: black;
}

.contact {
  width: 100%;
  min-height: 200px;
}

#mission {
  width: 100%;
  height: 700px;
  padding-top: 70px;
  background-image: url("../Images/img-mission-background.jpg");
  background-position: center top 70px;
  background-size: 1200px 800px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#products {
  max-width: 1000px;
  padding-top: 70px;
  padding-bottom: 70px;
}

#products div {
  padding-bottom: 10px;
}

#locations {
  width: 100%;
  min-height: 500px;
  background-image: url("../Images/img-locations-background.jpg");
  background-position: center;
  background-size: 1200px 500px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#locations h2 {
  padding: 0px;
  background-color: transparent;
}
